# My First Project
This is the first project in which I will practice the skills I have been learning along my journey to becoming a data scientist.

In this case, we are going to analyze data from Lending Club. This platform connects borrowers with investors, and manages all financial trades. It operates as a peer to peer lending system regulated by the plataform itself.

The dataset was download from Kaggle - Lending Club Loan Data

Let´s load the provided information as a csv with the library Pandas.

(In SQL we will query, filter, group and transform data efficiently.)

In [17]:
import pandas as pd

#Load dataset
filepath = '/Users/hectorastudillo/Downloads/archive/Lending_data.csv'

data = pd.read_csv(filepath)

/var/folders/kz/rybrs64563zc2gl94rf00qbw0000gn/T/ipykernel_3408/4253356958.py:6: DtypeWarning: Columns (19,47,55,112,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(filepath)

# Data Exploring
Then, we need to understand our data by summarizing how many columns are in the file, identifying the data type of each one, we also want to analyze the information further and think: How can I use all this data?

- Obtain simple information of the columns, rows, a especific number of entries:
    - .info()
    - .head()
    - .columns
    - num_rows, num_columns = data.shape - This return me 2 variables.

- Obtain an specific column and row 
    - print(data.['Column'][1]) - I can save this into a variable too.

- Obtain the type and dataset:
    -type(dataset)
    - print(dataset)

- Obtain statitic information: 
    - describe()

In [ ]:
#Let´s explore the information in the csv.

print('Data obtained with info()\n', data.info()) # To obtain the infomrmation about the csv columns...

print('Data obtained with head()\n', data.head()) # To obtain the information from the first 5 rows.

print('Data obtained with describe()\n', data.describe()) # To obtain basic statistical information only from numercial columns.

print('Type of data: ', type(data))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Columns: 145 entries, id to settlement_term
dtypes: float64(105), int64(4), object(36)
memory usage: 2.4+ GB
Data obtained with info()
 None
Data obtained with head()
    id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0 NaN        NaN       2500         2500           2500.0   36 months
1 NaN        NaN      30000        30000          30000.0   60 months
2 NaN        NaN       5000         5000           5000.0   36 months
3 NaN        NaN       4000         4000           4000.0   36 months
4 NaN        NaN      30000        30000          30000.0   60 months

   int_rate  installment grade sub_grade  ... hardship_payoff_balance_amount  \
0     13.56        84.92     C        C1  ...                            NaN
1     18.94       777.23     D        D2  ...                            NaN
2     17.97       180.69     D        D1  ...                            NaN
3     18.94       146.51     D        D2  ...                            NaN
4     16.14       731.78     C        C4  ...                            NaN

  hardship_last_payment_amount disbursement_method  debt_settlement_flag  \
0                          NaN                Cash                     N
1                          NaN                Cash                     N
2                          NaN                Cash                     N
3                          NaN                Cash                     N
4                          NaN                Cash                     N

  debt_settlement_flag_date settlement_status settlement_date  \
0                       NaN               NaN             NaN
1                       NaN               NaN             NaN
2                       NaN               NaN             NaN
3                       NaN               NaN             NaN
4                       NaN               NaN             NaN

  settlement_amount  settlement_percentage settlement_term
0               NaN                    NaN             NaN
1               NaN                    NaN             NaN
2               NaN                    NaN             NaN
3               NaN                    NaN             NaN
4               NaN                    NaN             NaN

[5 rows x 145 columns]
Data obtained with describe()
         id  member_id     loan_amnt   funded_amnt  funded_amnt_inv  \
count  0.0        0.0  2.260668e+06  2.260668e+06     2.260668e+06
mean   NaN        NaN  1.504693e+04  1.504166e+04     1.502344e+04
std    NaN        NaN  9.190245e+03  9.188413e+03     9.192332e+03
min    NaN        NaN  5.000000e+02  5.000000e+02     0.000000e+00
25%    NaN        NaN  8.000000e+03  8.000000e+03     8.000000e+03
50%    NaN        NaN  1.290000e+04  1.287500e+04     1.280000e+04
75%    NaN        NaN  2.000000e+04  2.000000e+04     2.000000e+04
max    NaN        NaN  4.000000e+04  4.000000e+04     4.000000e+04

           int_rate   installment    annual_inc  url           dti  ...  \
count  2.260668e+06  2.260668e+06  2.260664e+06  0.0  2.258957e+06  ...
mean   1.309291e+01  4.458076e+02  7.799243e+04  NaN  1.882420e+01  ...
std    4.832114e+00  2.671737e+02  1.126962e+05  NaN  1.418333e+01  ...
min    5.310000e+00  4.930000e+00  0.000000e+00  NaN -1.000000e+00  ...
25%    9.490000e+00  2.516500e+02  4.600000e+04  NaN  1.189000e+01  ...
50%    1.262000e+01  3.779900e+02  6.500000e+04  NaN  1.784000e+01  ...
75%    1.599000e+01  5.933200e+02  9.300000e+04  NaN  2.449000e+01  ...
max    3.099000e+01  1.719830e+03  1.100000e+08  NaN  9.990000e+02  ...

       deferral_term  hardship_amount  hardship_length  hardship_dpd  \
count        10613.0     10613.000000          10613.0  10613.000000
mean             3.0       155.006696              3.0     13.686422
std              0.0       129.113137              0.0      9.728138
min              3.0         0.640000              3.0      0.000000
25%              3.0        59.370000              3.0      5.000000
50%              3.0       119.040000              3.0     15.000000
75%              3.0       213.260000              3.0     22.000000
max              3.0       943.940000              3.0     37.000000

       orig_projected_additional_accrued_interest  \
count                                 8426.000000
mean                                   454.840802
std                                    375.830737
min                                      1.920000
25%                                    174.967500
50%                                    352.605000
75%                                    622.792500
max                                   2680.890000

       hardship_payoff_balance_amount  hardship_last_payment_amount  \
count                    10613.000000                  10613.000000
mean                     11628.036442                    193.606331
std                       7615.161123                    198.694368
min                         55.730000                      0.010000
25%                       5628.730000                     43.780000
50%                      10044.220000                    132.890000
75%                      16114.940000                    284.180000
max                      40306.410000                   1407.860000

       settlement_amount  settlement_percentage  settlement_term
count       33056.000000           33056.000000     33056.000000
mean         5030.606922              47.775600        13.148596
std          3692.027842               7.336379         8.192319
min            44.210000               0.200000         0.000000
25%          2227.000000              45.000000         6.000000
50%          4172.855000              45.000000        14.000000
75%          6870.782500              50.000000        18.000000
max         33601.000000             521.350000       181.000000

[8 rows x 109 columns]

# Impressions

- There are too many columns, how can we handle them efficiently?

- There is not available information in some rows and columns, for example ID and member_id, and that could be a problem.

# Data not available and duplicated entries.

We need to start making decision for see what do with these data, wheter delete it, complete it. The context-appropriate handling.

Now let´s see the data not available by NUMERICAL (int64) columns with isnull() method and duplicated rows with duplicated():

In [9]:
print('Data not avaialbe by int64 columns: \n', data.isnull().sum(), '\n')

print('Data duplicated by rows/entries: \n', data.duplicated().sum())

Data not avaialbe by columns:
 id                       2260668
member_id                2260668
loan_amnt                      0
funded_amnt                    0
funded_amnt_inv                0
                          ...
settlement_status        2227612
settlement_date          2227612
settlement_amount        2227612
settlement_percentage    2227612
settlement_term          2227612
Length: 145, dtype: int64

Data duplicated by rows:
 0

# Unique values over each column
Now we can see the unique values from each column making an iteration for each one, we obtain this with the following code:

In [10]:
unique_values = {
    col : data[col].unique() for col in data.columns
}
"""
We create a dictionary such that its keys are all the columns called col, then we iterate over each column to obtain its unique values
"For each column into the columns from the dataset, obtain its unique value"

In PANDAS, the notation to specify a column is with [], dataset[column]
"""

# Now let´s start visualizing these values

for col, values in unique_values.items():
    print(f'Column: {col}')
    print(f'Number of unique values: {len(values)}')
    print(f'Unique values: {values[:10]}') # We obtain the first 10 values
    print('-'*20) # Separation

Column: id
Number of unique values: 1
Unique values: [nan]
--------------------
Column: member_id
Number of unique values: 1
Unique values: [nan]
--------------------
Column: loan_amnt
Number of unique values: 1572
Unique values: [ 2500 30000  5000  4000  5550  2000  6000  5500 28000 11200]
--------------------
Column: funded_amnt
Number of unique values: 1572
Unique values: [ 2500 30000  5000  4000  5550  2000  6000  5500 28000 11200]
--------------------
Column: funded_amnt_inv
Number of unique values: 10057
Unique values: [ 2500. 30000.  5000.  4000.  5550.  2000.  6000.  5500. 28000. 11200.]
--------------------
Column: term
Number of unique values: 2
Unique values: [' 36 months' ' 60 months']
--------------------
Column: int_rate
Number of unique values: 673
Unique values: [13.56 18.94 17.97 16.14 15.02 14.47 22.35 11.31  8.19 12.98]
--------------------
Column: installment
Number of unique values: 93296
Unique values: [ 84.92 777.23 180.69 146.51 731.78 192.45  72.28 203.79 206.44 211.05]
--------------------
Column: grade
Number of unique values: 7
Unique values: ['C' 'D' 'B' 'A' 'E' 'F' 'G']
--------------------
Column: sub_grade
Number of unique values: 35
Unique values: ['C1' 'D2' 'D1' 'C4' 'C3' 'C2' 'D5' 'B3' 'A4' 'B5']
--------------------
Column: emp_title
Number of unique values: 512695
Unique values: ['Chef' 'Postmaster ' 'Administrative' 'IT Supervisor' 'Mechanic'
 'Director COE' 'Account Manager' 'Assistant Director'
 'Legal Assistant III' nan]
--------------------
Column: emp_length
Number of unique values: 12
Unique values: ['10+ years' '6 years' '4 years' '< 1 year' '2 years' '9 years' nan
 '5 years' '3 years' '7 years']
--------------------
Column: home_ownership
Number of unique values: 6
Unique values: ['RENT' 'MORTGAGE' 'OWN' 'ANY' 'NONE' 'OTHER']
--------------------
Column: annual_inc
Number of unique values: 89369
Unique values: [ 55000.  90000.  59280.  92000.  57250. 152500.  51000.  65000.  53580.
 300000.]
--------------------
Column: verification_status
Number of unique values: 3
Unique values: ['Not Verified' 'Source Verified' 'Verified']
--------------------
Column: issue_d
Number of unique values: 139
Unique values: ['Dec-2018' 'Nov-2018' 'Oct-2018' 'Sep-2018' 'Aug-2018' 'Jul-2018'
 'Jun-2018' 'May-2018' 'Apr-2018' 'Mar-2018']
--------------------
Column: loan_status
Number of unique values: 9
Unique values: ['Current' 'Fully Paid' 'Late (31-120 days)' 'In Grace Period'
 'Charged Off' 'Late (16-30 days)' 'Default'
 'Does not meet the credit policy. Status:Fully Paid'
 'Does not meet the credit policy. Status:Charged Off']
--------------------
Column: pymnt_plan
Number of unique values: 2
Unique values: ['n' 'y']
--------------------
Column: url
Number of unique values: 1
Unique values: [nan]
--------------------
Column: desc
Number of unique values: 124501
Unique values: [nan ' '
 "I currently have a loan out with CashCall. The interest rate is 96%! At the time I took out the loan, it helped with a family crisis, but now the interest is crazy to be paying. I'd rather be paying my $200 a month to pay down a loan rather than just the interest.   Also, the remainder of my debt has interest rates ranging from 20 - 24%. This includes credit cards, a student loan, and some personal loans. So, I would like to consolidate the rest of my debt and pay a lower interest rate of 15%.  By doing this, I could lower my interest and my monthly payments and save at least $4000 over the next few years.  I do have a bankruptcy that was discharged 3 years ago due to having $40,000 in debt from an uninsured hospital stay. However, I've not missed a payment on anything since.  My credit report does from time time to time relist things as collections and then I have to dispute them as included in bankruptcy and they go back to being listed that way. I'm not sure why the status gets messed up sometimes.   Thank you for your time and consideration! "
 'Consolidate debt'
 'This loan will be used solely to consolidate credit card debts accrued while wife was/is unemployed.'
 'I have recently purchased and built a new home that I have always dreamed of having.  I would like to complete the project by putting a hottub in my backyard, however; I am not happy with the rate I  have been offered from GE to finance the spa.  I am paying cash for all other improvements, but this is the final phase and finishing touch to my happiness.  I am in the process of consolidating a lot of debt, and went through a minor period of financial woes, but through determination and hard work I have managed to rebound.  My income is fantastic, and I would pay cash for the item, but would like to reserve the money I have saved for future issues if they should arise.  I am a college graduate, responsible, and work for a very good company that is stable in this very unstable market.  I plan to repay this loan in less than 12 months with a 4th quarter bonus I will be receiving.  Thank you for your consideration.'
 'Temporary cash flow challenges. Would like this loan to offset mortgage payments-next 90 days. Have owned current residence 22years and have never been late on a payment.  I am self employed in the same business for 31 years in the same location. Wife works for local school district full time.'
 'I am looking to pay off my credit card debts.  '
 'Hi! So $5,500 doesn\'t sound like much to be debt free. Well, when you\'re 24 years old it seems like quite a bit. I was foolish enough to buy into those "bad credit auto loans". Here is what happened.. I bought an old car. I had an extremely high monthly payment. I missed other payments on other accounts due to having to pay for repairs in addition to my monthly payment.  The money will pay off the existing loan, and also pay off some credit card debt.  I will be debt free except for my payment to you.  I don\'t care what the interest rate is, honestly, as long as it doesn\'t go above 15% (my current car loan rate).   Let me know if you can help me. I would really appreciate it. '
 'I developed poor credit in college due to not having a job and not being able to pay my credit card bills all the time. I am a recent graduate and am employeed with a very large and prestigous contractor. I have a steady income and want to get out of debt. Please help me out. Thank you']
--------------------
Column: purpose
Number of unique values: 14
Unique values: ['debt_consolidation' 'credit_card' 'house' 'car' 'other' 'vacation'
 'home_improvement' 'small_business' 'major_purchase' 'medical']
--------------------
Column: title
Number of unique values: 63155
Unique values: ['Debt consolidation' 'Credit card refinancing' 'Home buying'
 'Car financing' 'Other' 'Vacation' 'Home improvement' 'Business'
 'Major purchase' 'Medical expenses']
--------------------
Column: zip_code
Number of unique values: 957
Unique values: ['109xx' '713xx' '490xx' '985xx' '212xx' '461xx' '606xx' '460xx' '327xx'
 '068xx']
--------------------
Column: addr_state
Number of unique values: 51
Unique values: ['NY' 'LA' 'MI' 'WA' 'MD' 'IN' 'IL' 'FL' 'CT' 'GA']
--------------------
Column: dti
Number of unique values: 10846
Unique values: [18.24 26.52 10.51 16.74 26.35 37.94  2.4  30.1  21.16 17.43]
--------------------
Column: delinq_2yrs
Number of unique values: 38
Unique values: [ 0.  1.  2.  7.  4.  3.  6.  5.  8. 16.]
--------------------
Column: earliest_cr_line
Number of unique values: 755
Unique values: ['Apr-2001' 'Jun-1987' 'Apr-2011' 'Feb-2006' 'Dec-2000' 'Sep-2002'
 'Nov-2004' 'Nov-1997' 'Aug-1998' 'Apr-2002']
--------------------
Column: inq_last_6mths
Number of unique values: 29
Unique values: [ 1.  0.  3.  2.  4.  5. nan  6.  7.  8.]
--------------------
Column: mths_since_last_delinq
Number of unique values: 174
Unique values: [nan 71. 32. 17. 22.  6. 43. 38.  8. 30.]
--------------------
Column: mths_since_last_record
Number of unique values: 130
Unique values: [ 45.  75.  nan 100. 107.  67. 106.  60.  92.  62.]
--------------------
Column: open_acc
Number of unique values: 92
Unique values: [ 9. 13.  8. 10. 12. 18.  1. 19. 38.  6.]
--------------------
Column: pub_rec
Number of unique values: 44
Unique values: [ 1.  0.  3.  2.  4.  5.  6.  8.  7. 15.]
--------------------
Column: revol_bal
Number of unique values: 102251
Unique values: [ 4341 12315  4599  5468   829 53854     0 38476  8018 65950]
--------------------
Column: revol_util
Number of unique values: 1431
Unique values: [10.3 24.2 19.1 78.1  3.6 48.1  nan 69.3 35.2 49.8]
--------------------
Column: total_acc
Number of unique values: 153
Unique values: [34. 44. 13. 26.  9. 37. 38. 58. 23. 27.]
--------------------
Column: initial_list_status
Number of unique values: 2
Unique values: ['w' 'f']
--------------------
Column: out_prncp
Number of unique values: 364399
Unique values: [ 2386.02 29387.75  4787.21  3831.93 29339.02  5302.5   1914.71  5864.01
  4786.79  5730.2 ]
--------------------
Column: out_prncp_inv
Number of unique values: 377353
Unique values: [ 2386.02 29387.75  4787.21  3831.93 29339.02  5302.5   1914.71  5864.01
  4786.79  5730.2 ]
--------------------
Column: total_pymnt
Number of unique values: 1608336
Unique values: [ 167.02 1507.11  353.89  286.71 1423.21  377.95  141.56  201.53  405.64
  411.86]
--------------------
Column: total_pymnt_inv
Number of unique values: 1299089
Unique values: [ 167.02 1507.11  353.89  286.71 1423.21  377.95  141.56  201.53  405.64
  411.86]
--------------------
Column: total_rec_prncp
Number of unique values: 487427
Unique values: [113.98 612.25 212.79 168.07 660.98 247.5   85.29 135.99 213.21 269.8 ]
--------------------
Column: total_rec_int
Number of unique values: 629835
Unique values: [ 53.04 894.86 141.1  118.64 762.23 130.45  56.27  65.54 140.68 135.84]
--------------------
Column: total_rec_late_fee
Number of unique values: 17991
Unique values: [ 0.   15.   35.7  22.   52.99 42.32 27.04 23.04 18.81 21.49]
--------------------
Column: recoveries
Number of unique values: 127920
Unique values: [   0.   3322.48 1803.35 1702.51 1904.35 2382.66 1383.25 1891.51 1380.57
 5239.76]
--------------------
Column: collection_recovery_fee
Number of unique values: 140449
Unique values: [  0.     299.0232 162.3015 153.2259 171.3915 214.4394 124.4925 170.2359
 124.2513 471.5784]
--------------------
Column: last_pymnt_d
Number of unique values: 136
Unique values: ['Feb-2019' 'Jan-2019' nan 'Dec-2018' 'Nov-2018' 'Oct-2018' 'Sep-2018'
 'Aug-2018' 'Jul-2018' 'Jun-2018']
--------------------
Column: last_pymnt_amnt
Number of unique values: 692560
Unique values: [ 84.92 777.23 180.69 146.51 731.78 192.45  72.28 208.31 206.44 211.05]
--------------------
Column: next_pymnt_d
Number of unique values: 106
Unique values: ['Mar-2019' nan 'Feb-2019' 'Apr-2019' 'Dec-2018' 'Sep-2018' 'Aug-2018'
 'Feb-2018' 'Jan-2016' 'Sep-2013']
--------------------
Column: last_credit_pull_d
Number of unique values: 141
Unique values: ['Feb-2019' 'Jan-2019' 'Dec-2018' nan 'Nov-2018' 'Oct-2018' 'Sep-2018'
 'Aug-2018' 'Jul-2018' 'Jun-2018']
--------------------
Column: collections_12_mths_ex_med
Number of unique values: 17
Unique values: [ 0.  1.  2.  4.  3.  5.  6.  8.  9. 10.]
--------------------
Column: mths_since_last_major_derog
Number of unique values: 184
Unique values: [nan 45. 22.  6. 48. 68. 35. 37. 52. 43.]
--------------------
Column: policy_code
Number of unique values: 1
Unique values: [1]
--------------------
Column: application_type
Number of unique values: 2
Unique values: ['Individual' 'Joint App']
--------------------
Column: annual_inc_joint
Number of unique values: 17634
Unique values: [    nan 104424.  64793.  59500.  55000.  67590. 176000.  85000. 123500.
 239000.]
--------------------
Column: dti_joint
Number of unique values: 4019
Unique values: [  nan 10.77 18.91 10.59 34.95 24.54 15.42 27.84 14.53 12.77]
--------------------
Column: verification_status_joint
Number of unique values: 4
Unique values: [nan 'Verified' 'Not Verified' 'Source Verified']
--------------------
Column: acc_now_delinq
Number of unique values: 10
Unique values: [ 0.  1.  2.  3.  4.  6.  5. 14.  7. nan]
--------------------
Column: tot_coll_amt
Number of unique values: 15575
Unique values: [   0. 1208.  686. 6389.  160.   66. 2693.  116.  500.  258.]
--------------------
Column: tot_cur_bal
Number of unique values: 487689
Unique values: [ 16901. 321915. 110299. 305049. 116007. 685749.    854.  91535.  41882.
 349502.]
--------------------
Column: open_acc_6m
Number of unique values: 20
Unique values: [ 2.  4.  0.  1.  3.  5.  6.  7. 13.  8.]
--------------------
Column: open_act_il
Number of unique values: 55
Unique values: [ 2.  4.  1.  5.  7.  0.  8.  6.  3. 14.]
--------------------
Column: open_il_12m
Number of unique values: 20
Unique values: [ 1.  2.  0.  3.  5.  4.  6.  8.  7. 10.]
--------------------
Column: open_il_24m
Number of unique values: 32
Unique values: [ 2.  3.  5.  1.  0.  4.  6.  7.  9. 12.]
--------------------
Column: mths_since_rcnt_il
Number of unique values: 406
Unique values: [ 2.  3. 14.  5.  4.  7. 23. 62.  1. 36.]
--------------------
Column: total_bal_il
Number of unique values: 162250
Unique values: [ 12560.  87153.   7150.  30683.  28845. 131524.      0.  53059.  33864.
  39961.]
--------------------
Column: il_util
Number of unique values: 281
Unique values: [69. 88. 72. 68. 89. nan 87. 98. 45. 54.]
--------------------
Column: open_rv_12m
Number of unique values: 30
Unique values: [ 2.  4.  0.  1.  3.  5.  6.  9.  7. 18.]
--------------------
Column: open_rv_24m
Number of unique values: 51
Unique values: [ 7.  5.  2.  0.  4.  1.  6. 12.  3.  8.]
--------------------
Column: max_bal_bc
Number of unique values: 33727
Unique values: [ 2137.   998.     0.  3761.   516. 17584.  9413.  3132. 15926.  2837.]
--------------------
Column: all_util
Number of unique values: 189
Unique values: [ 28.  57.  35.  70.  54.  58. 100.  74.  73.  48.]
--------------------
Column: total_rev_hi_lim
Number of unique values: 34221
Unique values: [ 42000.  50800.  24100.   7000.  23100. 111900.      0.  55500.  22800.
 132500.]
--------------------
Column: inq_fi
Number of unique values: 34
Unique values: [1. 2. 0. 3. 6. 5. 7. 4. 8. 9.]
--------------------
Column: total_cu_tl
Number of unique values: 63
Unique values: [11. 15.  5.  4.  0.  2.  1.  3.  8.  6.]
--------------------
Column: inq_last_12m
Number of unique values: 49
Unique values: [ 2.  0.  3.  6.  1.  4.  5. 10.  7.  9.]
--------------------
Column: acc_open_past_24mths
Number of unique values: 58
Unique values: [ 9. 10.  4.  5.  8.  3. 12. 15.  2. 11.]
--------------------
Column: avg_cur_bal
Number of unique values: 88598
Unique values: [ 1878. 24763. 18383. 30505.  9667. 40338.   854.  5085.  5235.  9197.]
--------------------
Column: bc_open_to_buy
Number of unique values: 91501
Unique values: [34360. 13761. 13800.  1239.  8471. 23746.    nan  3034. 13786. 38683.]
--------------------
Column: bc_util
Number of unique values: 1495
Unique values: [ 5.9  8.3  0.  75.2  8.9 64.   nan 90.8 35.9 60.6]
--------------------
Column: chargeoff_within_12_mths
Number of unique values: 12
Unique values: [ 0.  1.  4.  2.  3.  7.  5.  6.  9. 10.]
--------------------
Column: delinq_amnt
Number of unique values: 2618
Unique values: [   0. 2077. 6113.  158. 5445.  200. 8566.  456. 2265.  413.]
--------------------
Column: mo_sin_old_il_acct
Number of unique values: 567
Unique values: [140. 163.  87.  62.  53. 195. 169. 145. 166. 139.]
--------------------
Column: mo_sin_old_rev_tl_op
Number of unique values: 788
Unique values: [212. 378.  92. 154. 216. 176.  40. 253. 244. 200.]
--------------------
Column: mo_sin_rcnt_rev_tl_op
Number of unique values: 334
Unique values: [ 1.  4. 15. 64.  2. 10. 23. 13.  6.  5.]
--------------------
Column: mo_sin_rcnt_tl
Number of unique values: 233
Unique values: [ 1.  3. 14.  5.  2.  4.  7. 13.  6. 27.]
--------------------
Column: mort_acc
Number of unique values: 48
Unique values: [0. 3. 2. 6. 1. 4. 5. 9. 8. 7.]
--------------------
Column: mths_since_recent_bc
Number of unique values: 547
Unique values: [ 1.  4. 77. 64.  2. 20. nan 14.  6.  5.]
--------------------
Column: mths_since_recent_bc_dlq
Number of unique values: 178
Unique values: [nan 33. 22. 48. 35. 37. 52. 43. 57. 71.]
--------------------
Column: mths_since_recent_inq
Number of unique values: 27
Unique values: [ 2.  4. 14.  5. 13.  3.  1.  6. 15.  7.]
--------------------
Column: mths_since_recent_revol_delinq
Number of unique values: 180
Unique values: [ nan  32.  17.  22. 117.   8.  30.  48.  37.  52.]
--------------------
Column: num_accts_ever_120_pd
Number of unique values: 45
Unique values: [ 0.  2.  1.  7.  6.  3.  4.  5. 12.  8.]
--------------------
Column: num_actv_bc_tl
Number of unique values: 43
Unique values: [ 2.  0.  1.  4.  7. 16.  3.  5.  6.  8.]
--------------------
Column: num_actv_rev_tl
Number of unique values: 58
Unique values: [ 5.  4.  3.  2.  6.  0. 12. 20. 19.  9.]
--------------------
Column: num_bc_sats
Number of unique values: 61
Unique values: [ 3.  4.  1.  6.  0.  8.  5. 19.  2.  7.]
--------------------
Column: num_bc_tl
Number of unique values: 77
Unique values: [ 3.  9.  2.  8. 10. 26.  4.  5.  1.  7.]
--------------------
Column: num_il_tl
Number of unique values: 123
Unique values: [16. 27.  4.  7.  9. 23.  5. 15. 20. 13.]
--------------------
Column: num_op_rev_tl
Number of unique values: 82
Unique values: [ 7.  8.  6.  2.  9.  0. 14. 33.  3. 10.]
--------------------
Column: num_rev_accts
Number of unique values: 118
Unique values: [18. 14.  7.  3. 15. 20. 48.  5.  9. 10.]
--------------------
Column: num_rev_tl_bal_gt_0
Number of unique values: 51
Unique values: [ 5.  4.  3.  2.  7.  0. 12. 20. 19.  6.]
--------------------
Column: num_sats
Number of unique values: 92
Unique values: [ 9. 13.  8. 10. 12. 18.  1. 19. 38.  6.]
--------------------
Column: num_tl_120dpd_2m
Number of unique values: 8
Unique values: [ 0. nan  1.  2.  4.  3.  6.  7.]
--------------------
Column: num_tl_30dpd
Number of unique values: 6
Unique values: [ 0.  1.  2.  3.  4. nan]
--------------------
Column: num_tl_90g_dpd_24m
Number of unique values: 35
Unique values: [ 0.  1.  2.  4.  5.  6. 16.  9.  3.  7.]
--------------------
Column: num_tl_op_past_12m
Number of unique values: 34
Unique values: [3. 6. 0. 5. 4. 2. 1. 7. 9. 8.]
--------------------
Column: pct_tl_nvr_dlq
Number of unique values: 691
Unique values: [100.   95.   92.3  78.9  84.6  90.2  76.   80.   86.5  77.8]
--------------------
Column: percent_bc_gt_75
Number of unique values: 285
Unique values: [  0.  100.   60.    nan  85.7  26.3  37.5  20.   50.   33.3]
--------------------
Column: pub_rec_bankruptcies
Number of unique values: 13
Unique values: [1. 0. 3. 2. 4. 5. 6. 7. 8. 9.]
--------------------
Column: tax_liens
Number of unique values: 43
Unique values: [ 0.  1.  2.  4.  6.  3.  5.  8.  7. 15.]
--------------------
Column: tot_hi_cred_lim
Number of unique values: 529973
Unique values: [ 60124. 372872. 136927. 385183. 157548. 831687.    854. 117242.  57426.
 477390.]
--------------------
Column: total_bal_ex_mort
Number of unique values: 212778
Unique values: [ 16901.  99468.  11749.  36151.  29674. 185378.    854.  91535.  41882.
 105911.]
--------------------
Column: total_bc_limit
Number of unique values: 20310
Unique values: [36500. 15000. 13800.  5000.  9300. 65900.     0. 33100. 21500. 98300.]
--------------------
Column: total_il_high_credit_limit
Number of unique values: 194138
Unique values: [ 18124.  94072.  10000.  44984.  32332. 203159.      0.  61742.  34626.
  89600.]
--------------------
Column: revol_bal_joint
Number of unique values: 56876
Unique values: [   nan 10286. 24654.  6902. 29704. 32918. 19599. 34437.  7980. 64367.]
--------------------
Column: sec_app_earliest_cr_line
Number of unique values: 664
Unique values: [nan 'May-2002' 'Aug-2003' 'May-2003' 'Oct-1999' 'Dec-1996' 'May-2007'
 'Oct-2006' 'Nov-1996' 'Jul-1997']
--------------------
Column: sec_app_inq_last_6mths

#  Data cleansing
We need to perform data cleaning before stating the analysis. WE NEED TO CREATE A NEW DATAFRAME FOR THAT.

This we will make it with the following methods:
- drop.duplicates()
- dropna() using the parameter "subset" to specify a column or columns, remember the notation ['name']

In [11]:
data_cleaned = data.dropna()

# Now, I want to check if all the columns are cleaned.
print('Data before the handling:\n', data_cleaned.isnull().sum())

Data before the handling:
 id                       0
member_id                0
loan_amnt                0
funded_amnt              0
funded_amnt_inv          0
                        ..
settlement_status        0
settlement_date          0
settlement_amount        0
settlement_percentage    0
settlement_term          0
Length: 145, dtype: int64

# Data analysis 
Check if you need to creat another dataframe (as we created for data cleansing) or just specify the colums to use.
# Create DataFrames from a csv (or Series - Unidimensional, similar to a column)

Example, **we will create a bidimensional length dataframe with numpy and pandas**
    data = np.array([[1,2,3], [4,5,6], [7,8,9]])
    df_from_array = pd.DataFrame(data, columns=['A','B','C']) These are the name of columns.

There is another example creating from dictionaries.

# What you want to solve?
What can we obtain from this dataset that could help in the development of the club?

- We can compute the expected value for some columns, we need to check each one and see if it is useful for us.
- Date more common where customers apply for a debt.

A customer could obtain a credit from the club? Can apply?
- I can make a filter for some columns that indicates if the customer has checks-offs, deliquencies, ratios specifics that contain the dataset.
- Co-borrowers could mean less risk

# We will use specific columns, do not need to use the 150 columns at the same time.
Annual incomes provided by customers
- We can plot the income amounts of customers.
- Use statistic tools like quartiles for that specific column.

# Analyze an specific column and row:
- print(data.['Column'][1]) - I can save this into a variable too.
- column_analyzed = data.['Column'].mean() - This previous method may change to our preference.
- .count() uses the same syntaxis. **Always be careful with null values for every calculation**

# Use "none" value for empty data
If there are none values into the empty data from the columns, in the sum this does not have value it is 0, and for counting this are omitted.

# Analyze again the columns 
What new columns can we create, add, operate on, or even transform their data type?

For example:
- Make operation with each other: 
    - data_cleaned['NewColumn'] = data_cleaned['Column1'] * data_cleaned['Column2']

- Change the data type of one column: 
    - data_cleaned['ColumnHandle'] = pd.to_datetime(data_cleaned['ColumnHandle'])
    We can check the changes with the method info().

-Divide the information from a column with a data type specific, usually with datetime data:
    - data_cleaned['SubColumns'] = data_cleaned['DatatimeColumn'].dt.year, for example

<class 'pandas.core.frame.DataFrame'>