# Pandas para manipulación y análisis de datos

Esta construida sobre la base de Numpy, las dos estructuras principales que ofrece pandas son:
- Series
- Dataframes

Si buscas roles como científico de datos, analista, ingeniero de datos o incluso bussiness inteligence uno de los skills que necesitas es el uso de pandas, ademas lo puedes aplicar a un proyecto para tu portafolio, puedes usar datasets liberados, estos los podemos encontrar en:
- Kaggle
- Repositorio de Machine Learning UCI

En este caso usaremos el DataSet Online Retail donde identificaremos los productos más vendidos, analizar el comportamiento de customers y picos de ventas.

In [1]:
!which python

/Users/hectorastudillo/py-proyects/data-analysis/env_analysis/bin/python

In [2]:
import pandas as pd
path = '/Users/hectorastudillo/py-proyects/data-analysis/pandas/Online_Retail.csv'
retail_data = pd.read_csv(path, encoding='latin1') #Se agregó un argumento de más que corrige la codificación del archivo pues por defecto en este caso NO esta en utf-8

#retail_data = pd.read_csv(path, encoding='utf-8', errors='ignore')

print(type(retail_data))
#Estamos trabajando con una clase propia de la libreria
print('Información del CSV:\n',retail_data)

<class 'pandas.core.frame.DataFrame'>
Información del CSV:
        InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

          InvoiceDate  UnitPrice  customerserID         Country
0        12/1/10 8:26       2.55     17850.0  United Kingdom
1        12/1/10 8:26       3.39     17850.0  United Kingdom
2        12/1/10 8:26       2.75     17850.0  United Kingdom
3        12/1/10 8:26       3.39     17850.0  United Kingdom
4        12/1/10 8:26       3.39     17850.0  United Kingdom
...               ...        ...         ...             ...
541904  12/9/11 12:50       0.85     12680.0          France
541905  12/9/11 12:50       2.10     12680.0          France
541906  12/9/11 12:50       4.15     12680.0          France
541907  12/9/11 12:50       4.15     12680.0          France
541908  12/9/11 12:50       4.95     12680.0          France

[541909 rows x 8 columns]

Si bien nuestra información esta en formato CSV, tambien la podemos presentar en formato de Excel o JSON...
- data_excel = pd.read_excel(path)
- data_json = pd.read_json(path)

# Consejo:
Cuando te estes postulando a un puesto de trabajo trata de identificar que tipo de problemas se quiere resolver, entonces cuando estemos desarrollando nuestro portafolio debemos de seleccionar a un set de datos similar a los problemas que se enfrenta la empresa.

# DataFrames
Veremos como crear dataframes con pandas. 
Un dataframe en pandas es una estructura de datos bidimensional similar a una tabla en una base de datos o archivo excel, contiene columnas y filas en las que cada columna puede contener un tipo de dato diferente lo que lo hace ideal para el análisis de datos.
Los dataframes son el corazón de Pandas.
Crearemos un dataframe desde el csv que vamos a utilizar que es el Online_retail.csv...
Primero veremos el método HEAD de pandas que me trae un resumen de toda la información que tengo.

In [3]:
print(retail_data.head())
#Esta es una primera manera de crear un dataframe leyendo desde un csv

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  customerserID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

In [4]:
import numpy as np

#Crearemos un array bidimensional
data = np.array([[1,2,3], [4,5,6], [7,8,9]])
df_from_array = pd.DataFrame(data, columns=['A','B','C']) #Le pasamos de donde obtendrá la infromación, el nombre de las columnas que tendrá nuestro dataframe, esto claramente respecto a la dimensión que tiene nuestra matriz (dimensión 2 array)
print('DataFrame creado con Numpy (array/matriz) y Pandas(DataFrame/columnas):\n',df_from_array)

DataFrame creado con Numpy (array/matriz) y Pandas(DataFrame/columnas):
    A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

# Los dataframes tambien pueden ser creados a partir de una lista o diccionario...

In [5]:
# Tendremos 3 columnas, id, name y age
data = [[1, 'Jhon', 23], [2, 'Ana', 24]]
df_from_list = pd.DataFrame(data, columns=['ID', 'Name', 'Age'])
print('DataFrame from a list:\n', df_from_list)

#Con diccionarios
#Igual tengo una lista pero ahora tendremos una clave o llave que directamente le indicaré con su valor, el primero es ID, luego el nombre con su respectivo valor y edad con su respectivo valor...
data = [{'ID': 1,
         'Name': 'Jhon',
         'Age': 21},
        {'ID': 2,
         'Name': 'Ana',
         'Age': 24}]
dt_from_dict = pd.DataFrame(data) #Las columnas ya las especificamos dentro del diccionario directamente
print('Dataframe from a Dictionary:\n', dt_from_dict)

#Ahora, puede haber el caso en el que las claves son el nombre de cada columna y cada valor que va a ir acompañado de la clave va a ser una lista...

data = {'ID': [1,2,3], 
        'Name': ['Jhon', 'Ana', 'Mike'],
        'Age': [22,24,21]}
df_from_dict_list = pd.DataFrame(data)
print('DataFrame from a Dict(columns) with List(rows):\n', df_from_dict_list)

DataFrame from a list:
    ID  Name  Age
0   1  Jhon   23
1   2   Ana   24
Dataframe from a Dictionary:
    ID  Name  Age
0   1  Jhon   21
1   2   Ana   24
DataFrame from a Dict(columns) with List(rows):
    ID  Name  Age
0   1  Jhon   22
1   2   Ana   24
2   3  Mike   21

En pandas como bien mencionamos tenemos la herramienta principal que son los dataframes QUE SON DATOS BIDIMENSIONALES, LAS MATRICES SON BIDIMENSIONALES, pero en este caso nos referimos a tablas sin embargo, podemos descomponer dataframes en lo que sería una serie

# Series
Cada serie corresponde a una columna que equivaldría a un dato uni-dimensional, tendriamos una serie ID, nombre y edad, imagina que son las listas en el último código que hicimos...

In [6]:
#Partimos desde un diccionario que tendrá como información de filas una serie...
data = {'ID': pd.Series([1,2,3]), 
        'Name': pd.Series(['Jhon', 'Ana', 'Mike']),
        'Age': pd.Series([22,24,21])}

df_from_series_dict = pd.DataFrame(data)
print('DataFrame from Series in a Dict:\n', df_from_series_dict)

DataFrame from Series in a Dict:
    ID  Name  Age
0   1  Jhon   22
1   2   Ana   24
2   3  Mike   21

Si usas Google Colab, puedes acceder a tus archivos para su lectura sin necesidad de cargarlo manualmente al contenido de Colab con el sigueinte código a partir de Google Drive:

from google.colab import drive

drive.mount('/content/drive')
path = "/content/drive/My_drive/online_retail.csv"

data = pd.read_csv(path)
print(data.head())

Comprender y manipular las estructuras es un proceso fundamental. El núcleo de numpy son los arrays mientras que en pandas son las series y los dataframes. Estas estructuras permiten manejar los datos de manera eficiente y realizar análisis complejos.

Una serie en pandas es una estructura uni-dimensional que puede almacenar datos de cualquier tipo, similar a una columna de una tabla.

Los dataframes son una estructura bidimensional similar a una tabla en una base de datos, csv o una hoja de excel.

- Cuando tenemos la lectura de la información y tenemos el tipo de dato bidimensional estamos tratando con dataframes.

- Cuando estamos tratando simplemente con columnas que van a ser datos unidimensionales estamos hablando de series

In [7]:
retail_data = pd.read_csv(path, encoding='latin1')

# Primero capturamos el nombre de las columnas que podemos hacer para el análisis
columns_names = retail_data.columns
print('Columnas de Online_ratil.csv:\n', columns_names)

#Para preguntar por la dimensión... preguntamos el numero de filas que tenemos y el numero de las columnas...
num_rows, num_columns = retail_data.shape #Este me retorna o me da 2 elementos como respuesta, por ende creamos dos variables 
print('Número de filas: ', num_rows)
print('Número de columnas: ', num_columns)

Columnas de Online_ratil.csv:
 Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'customerserID', 'Country'],
      dtype='object')
Número de filas:  541909
Número de columnas:  8

In [8]:
daily_sales = retail_data['Quantity'] #Corresponde al nombre de la columna
print('Fila que corresponde a la columna "Cuantity":\n', daily_sales)

#PUEDO ESPECIFICAR ADEMÁS UNA FILA EN CONCRETO
print('Fila 2 que corresponde a la columna "Cuantity":\n', daily_sales[2])

Fila que corresponde a la columna "Cuantity":
 0          6
1          6
2          8
3          6
4          6
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 541909, dtype: int64
Fila 2 que corresponde a la columna "Cuantity":
 8

# Descripción estadística con el método describe()
En nuestro dataframe tambien podemos obtener una descripción estadística de cada una de las columnas que tienen información CUANTITATIVA, asi como en R, si te das cuenta son procesos que se pueden realizar en R... media, desviación estandar aplicada a una columan lo qie tengo que haces es especificar el nombre del método

In [9]:
summary = retail_data.describe()
print('El resumen de Online Retail estadístico es:\n', summary)
#Me dará unicamente 3 columnas ya que son las únicas en las que tenemos números


daily_sales = retail_data['Quantity'] 
#En caso de querer ver la infromación de cada una de las columnas hacemos lo siguiente:
mean_value_Cuantity = daily_sales.mean() #Recuerda que daily sales corresponde a una columna, por ende nos dará el promedio de esa columna que especificamos.
print('La media de la columna especificada "Cuantity" es:\n', mean_value_Cuantity)

#Para obtener la suma usamos variable.sum(), para la media variable.median()

#Vamos a hacer un conteo de valores de la columna Cuantity...
count_values = daily_sales.count()
print('El conteo de la columna Cuantity es:\n', count_values)

El resumen de Online Retail estadístico es:
             Quantity      UnitPrice     customerserID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000
La media de la columna especificada "Cuantity" es:
 9.55224954743324
El conteo de la columna Cuantity es:
 541909

# Valores nulos
Analiza el siguiente caso de suma y conteo, es claro que cuando es una suma lo tomará el none por un 0 y cuando es un conteo este no tiene valor...

In [10]:
import pandas as pd
daily_sales = pd.Series([10,20,None,40,50])
#Suma
total_sum = daily_sales.sum()
print('Suma con valor None es: ', total_sum)
#Conteo
count_values = daily_sales.count()
print('El conteo de la Serie dada con valor None es: ', count_values)

Suma con valor None es:  120.0
El conteo de la Serie dada con valor None es:  4

# Método GET
Vamos a extraer un número o filas que vamos a especificar donde por defecto tendrémos que son 5...

# Consejo:
Cuando se nos da entonces información nueva, un DataFrame que analizar lo recomendable es acceder a:
- Conocer los encabezados, obtienes los primeras 5 filas con head()
- Tener un resumen estadístico con describe
- Abundar en cada columna

In [11]:
#Primeras 5 filas
retail_data.head()

#Para obtener las primeras 8...
retail_data.head(8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,customerserID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/10 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/10 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/10 8:28,1.85,17850.0,United Kingdom

# ILOC y LOC
SELECCIÓN DE DATOS.

# iloc
Nos ayuda a extraer la información del dataframe especificando el índice que eso representa la i

# loc
Accede a la información especificando la etiqueta y esto lo haremos dando las filas y las columnas

# Uso de ILOC

In [12]:
first_row = retail_data.iloc[0]
print('Información de índice 0, primera fila:\n', first_row)

#Ahora si quiero un chunk, es decir un pedazo de información por ejemplo desde el índice 0 hasta el 5 hacemos lo siguiente
first_five_rows = retail_data.iloc[:5]
print('Información desde el índice 0 hasta el 5\n: ', first_five_rows)

#Recuerda que tanto las filas como las columnas inician desde 0

Información de índice 0, primera fila:
 InvoiceNo                                  536365
StockCode                                  85123A
Description    WHITE HANGING HEART T-LIGHT HOLDER
Quantity                                        6
InvoiceDate                          12/1/10 8:26
UnitPrice                                    2.55
customerserID                                17850.0
Country                            United Kingdom
Name: 0, dtype: object
Información desde el índice 0 hasta el 5
:    InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  customerserID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

Recuerda que tanto las filas como las columnas inician desde 0 y tambien puedo tener subsets de las filas y columnas... además de poder acceder a valores dentro de mi data, digamos acceder a valores de celdas.

In [13]:
subset = retail_data.iloc[:3, :2] #Primero van las filas y luego las columnas, el orden normal que se ve, algebra lineal y geometría analítica
print('Subset:\n', subset)

#Para acceder a un valor/valor de celda hacemos:
retail_value = retail_data.iloc[1,2]
print('Valor de celda: ', retail_value)

Subset:
   InvoiceNo StockCode
0    536365    85123A
1    536365     71053
2    536365    84406B
Valor de celda:  WHITE METAL LANTERN

# Uso de LOC
Selección de filas con LOC...

In [14]:
row_index_3 = retail_data.loc[3]
print('La fila 2 tiene la siguiente información:\n', row_index_3, '\n')
#Chunk
row_index_ch = retail_data.loc[:4]
print('Información de filas 0-4:\n', row_index_ch,'\n')

#Ahora vamos a especificar la eetiqueta/nombre de la columna con la que quiero trabajar, estamos trabajando de la misma manerea con Cuantity

cuantity_columns = retail_data.loc[: , 'Quantity'] #Los argumentos son... de que fila a que fila y el nombre de la columna
print('La información de inicio a fin de la columna Cuantity es:\n', cuantity_columns,'\n')

#Tambien puedo hacer la selección de mas de una columna...
cuantity_unitprices_columns = retail_data.loc[: , ['Quantity', 'UnitPrice']] #Los argumentos son... de que fila a que fila y el nombre de las columnas, FIJATE QUE LE DEBO DE PASAR UNA LISTA, no es un tercer argumento la otra columna que quiero consultar
print('La información de inicio a fin de la columna Cuantity Y UNITPRICE es:\n', cuantity_unitprices_columns,'\n')

La fila 2 tiene la siguiente información:
 InvoiceNo                                   536365
StockCode                                   84029G
Description    KNITTED UNION FLAG HOT WATER BOTTLE
Quantity                                         6
InvoiceDate                           12/1/10 8:26
UnitPrice                                     3.39
customerserID                                 17850.0
Country                             United Kingdom
Name: 3, dtype: object

Información de filas 0-4:
   InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  customerserID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

La información de inicio a fin de la columna Cuantity es:
 0          6
1          6
2          8
3          6
4          6
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 541909, dtype: int64

La información de inicio a fin de la columna Cuantity Y UNITPRICE es:
         Quantity  UnitPrice
0              6       2.55
1              6       3.39
2              8       2.75
3              6       3.39
4              6       3.39
...          ...        ...
541904        12       0.85
541905         6       2.10
541906         4       4.15
541907         4       4.15
541908         3       4.95

[541909 rows x 2 columns]

# Consejo: Divide tu información en porciones para un mejor análisis, limpieza o extracción de información, todo depende de que es lo que quieres realizar.

# Manejo de datos faltantes en Pandas
Pueden surgir errores en la recolección de datos, problemas de almacenamiento o simplemente porque ciertos datos no estaban disponibles al momento del registro.
Todo esto puede llevar a conclusiones erroneas y decisiones empresariales equivocadas.
Existen varias maneras de corroborara que haya datos o no. Dentro de Pandas tenemos dos principales para preguntar si el dato está o no está disponible o si el dato es NULO
Primero vamos a identificar cuales son los datos faltantes... (Que no estan disponiles) con el método isna()

In [15]:
missing_data = retail_data.isna()
print('Datos No dispoibles (True):\n', missing_data)

#Si quiero solo los primeras 5 filas...
print('Primeros 5 datos:\n', missing_data.head())

Datos No dispoibles (True):
         InvoiceNo  StockCode  Description  Quantity  InvoiceDate  UnitPrice  \
0           False      False        False     False        False      False
1           False      False        False     False        False      False
2           False      False        False     False        False      False
3           False      False        False     False        False      False
4           False      False        False     False        False      False
...           ...        ...          ...       ...          ...        ...
541904      False      False        False     False        False      False
541905      False      False        False     False        False      False
541906      False      False        False     False        False      False
541907      False      False        False     False        False      False
541908      False      False        False     False        False      False

        customerserID  Country
0            False    False
1            False    False
2            False    False
3            False    False
4            False    False
...            ...      ...
541904       False    False
541905       False    False
541906       False    False
541907       False    False
541908       False    False

[541909 rows x 8 columns]
Primeros 5 datos:
    InvoiceNo  StockCode  Description  Quantity  InvoiceDate  UnitPrice  \
0      False      False        False     False        False      False
1      False      False        False     False        False      False
2      False      False        False     False        False      False
3      False      False        False     False        False      False
4      False      False        False     False        False      False

   customerserID  Country
0       False    False
1       False    False
2       False    False
3       False    False
4       False    False

Quiero contar cuantos datos faltantes tenemos, pues tenemos varias filas de información y lo que nos queda es indigar por columna o fila

Ya que una vez sabiendo si hay datos faltantes o no dentro de nuestro set de datos tenemos dos opciones principales...
- Eliminar esas filas o campos donde esta nulo
- Llenar estos valores haciendo un cambio

# dropna()
Hay que tener cuidado pues si hay con tan solo un elemento dentro de la columna sin información o no esta diponible este método de la igual forma LO ELIMINARÁ.

Hay más tratamientos que podríamos aplicar...

In [16]:
missing_data_count = retail_data.isna().sum()
#El conteo lo realiza por COLUMNA
print('Conteo de datos faltantes por columna:\n', missing_data_count, '\n')

print('Eliminar esa información NO disponible... (FILAS)\n')
#Queremos acceder a los datos que no se estan perdiendo...
no_missing_rows = retail_data.dropna()
print('Información completa, se eliminaron las filas sin información:\n', no_missing_rows)

print('\nAgregar información faltante con 0...\n')
retail_data_filled_zeros = retail_data.fillna(0)
print('Información completa de Online Retail con valores 0 en donde no había disponibilidad de datos:\n', retail_data_filled_zeros)

print('\nAccedemos de nuevo a la suma de valores con entrada None o NO disponible...\n')
print('Suma de datos faltantes después de proceso de relleno:\n', retail_data_filled_zeros.isna().sum())

Conteo de datos faltantes por columna:
 InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
customerserID     135080
Country             0
dtype: int64

Eliminar esa información NO disponible... (FILAS)

Información completa, se eliminaron las filas sin información:
        InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

          InvoiceDate  UnitPrice  customerserID         Country
0        12/1/10 8:26       2.55     17850.0  United Kingdom
1        12/1/10 8:26       3.39     17850.0  United Kingdom
2        12/1/10 8:26       2.75     17850.0  United Kingdom
3        12/1/10 8:26       3.39     17850.0  United Kingdom
4        12/1/10 8:26       3.39     17850.0  United Kingdom
...               ...        ...         ...             ...
541904  12/9/11 12:50       0.85     12680.0          France
541905  12/9/11 12:50       2.10     12680.0          France
541906  12/9/11 12:50       4.15     12680.0          France
541907  12/9/11 12:50       4.15     12680.0          France
541908  12/9/11 12:50       4.95     12680.0          France

[406829 rows x 8 columns]

Agregar información faltante con 0...

Información completa de Online Retail con valores 0 en donde no había disponibilidad de datos:
        InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

          InvoiceDate  UnitPrice  customerserID         Country
0        12/1/10 8:26       2.55     17850.0  United Kingdom
1        12/1/10 8:26       3.39     17850.0  United Kingdom
2        12/1/10 8:26       2.75     17850.0  United Kingdom
3        12/1/10 8:26       3.39     17850.0  United Kingdom
4        12/1/10 8:26       3.39     17850.0  United Kingdom
...               ...        ...         ...             ...
541904  12/9/11 12:50       0.85     12680.0          France
541905  12/9/11 12:50       2.10     12680.0          France
541906  12/9/11 12:50       4.15     12680.0          France
541907  12/9/11 12:50       4.15     12680.0          France
541908  12/9/11 12:50       4.95     12680.0          France

[541909 rows x 8 columns]

Accedemos de nuevo a la suma de valores con entrada None o NO disponible...

Suma de datos faltantes después de proceso de relleno:
 InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
customerserID     0
Country        0
dtype: int64

Podemos llenar los datos faltantes pero con térnicas estadísticas como bien lo pueden ser hallar la media de la columna y en los datos que no tenemos insertarlos ahí para no tener una modificación más grande.

In [17]:
mean_unit_price = retail_data['UnitPrice'].mean()
retail_column_filled_mean = retail_data['UnitPrice'].fillna(mean_unit_price)
print('Columna UnitPrices rellena en campos faltantes con la media de la columna:\n', retail_column_filled_mean)

Columna UnitPrices rellena en campos faltantes con la media de la columna:
 0         2.55
1         3.39
2         2.75
3         3.39
4         3.39
          ...
541904    0.85
541905    2.10
541906    4.15
541907    4.15
541908    4.95
Name: UnitPrice, Length: 541909, dtype: float64

# Manipulación de columnas 
En este caso veremos la creación de columnas, esto lo haremos a partir de:
- Dos columnas de nuestro dataframe (operaciones entre ellas)
- A travéz de condicionales con valores de tipo booleano

In [18]:
import pandas as pd

df = pd.read_csv('/Users/hectorastudillo/py-proyects/data-analysis/pandas/Online_Retail.csv', encoding='latin1') 


df['TotalPrice'] = df['Quantity'] * df['UnitPrice'] #Con ello ya está añadido la nueva columna
print(df.head()) #Observamos las primeras 5 filas

df['HighValue'] = df['TotalPrice'] > 16
print(df['HighValue'].head(10))

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  customerserID         Country  TotalPrice
0  12/1/10 8:26       2.55     17850.0  United Kingdom       15.30
1  12/1/10 8:26       3.39     17850.0  United Kingdom       20.34
2  12/1/10 8:26       2.75     17850.0  United Kingdom       22.00
3  12/1/10 8:26       3.39     17850.0  United Kingdom       20.34
4  12/1/10 8:26       3.39     17850.0  United Kingdom       20.34
0    False
1     True
2     True
3     True
4     True
5    False
6     True
7    False
8    False
9     True
Name: HighValue, dtype: bool

Pandas por defecto captura el tipo de dato que tiene cada columna y esto puede ir variando a menos que nosotros le especifiquemos, para ello podemos obtener información a partir del método info()

In [19]:
print('Información del DataFrame:\n', df.info())
#Trabajaremos en este caso con InvoiceDate que pandas lo identifica que es de tipo object, sin embargo especificaremos que es de tipo Date para una mejor manipulación

df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate']) #Sobre que columna se hará el cambio o que columna se creará. Luego va que columna se ve involucrada, de donde tomará la información digamos. En este caso es un cambio sobre una columna ya existente en ell dataframe y su misma información.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   customerserID   406829 non-null  float64
 7   Country      541909 non-null  object
 8   TotalPrice   541909 non-null  float64
 9   HighValue    541909 non-null  bool
dtypes: bool(1), float64(3), int64(1), object(5)
memory usage: 37.7+ MB
Información del DataFrame:
 None

/var/folders/kz/rybrs64563zc2gl94rf00qbw0000gn/T/ipykernel_4458/2528066143.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate']) #Sobre que columna se hará el cambio o que columna se creará. Luego va que columna se ve involucrada, de donde tomará la información digamos. En este caso es un cambio sobre una columna ya existente en ell dataframe y su misma información.

# Lambda
En pandas tambien podemos aplicar la función lambda pero en este caso aplicará a cada una de las columnas la operación que nosotros vamos a especificar...
Vamos a crear otra columna que aplicará lambda.

In [20]:
df['DiscountPrice'] = df['UnitPrice'].apply(lambda x : x*0.9)
print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  customerserID         Country  TotalPrice  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34

   HighValue  DiscountPrice
0      False          2.295
1       True          3.051
2       True          2.475
3       True          3.051
4       True          3.051

Tambien podemos aplicar una función a cada una de nuestras filas también utilizando el método apply, ten encunta que podemos tener transformaciones con datos categóricos y no solo numéricos.

In [21]:
def categorize_price(price): #Para cada uno de los UnitPrices lo que haremos es categorizar de la siguiente manera:
    if price > 50:
        return 'High'
    elif price < 20:
        return 'Medium'
    else:
        return 'Low'
    
#Como esa función queremos aplciarlo a nuestro dataframe hacemos lo siguiente:
df['PriceCategory'] = df['UnitPrice'].apply(categorize_price) 
#Recuerda, sobre que columna se aplicará la información o de no existir se crea. Luego va de que columna tomará la información.
print(df.head()) #Obtenemos las primeras 5 filas

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  customerserID         Country  TotalPrice  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34

   HighValue  DiscountPrice PriceCategory
0      False          2.295        Medium
1       True          3.051        Medium
2       True          2.475        Medium
3       True          3.051        Medium
4       True          3.051        Medium

# Agrupaciones con GroupBy
Imagina que eres un analista de ventas, en este caso agruparemos nuestra información en distintas secciones de nuestro interes para posteriormente aplicar operaciones estadísticas que nos ayudarán a conocer la venta de los productos dentro de cada sección.

Esto lo lograremos con el método groupby
Primeramente vamos a ver un método para obtener la distribución de frecuencias de la columna "Country"

In [22]:
country_count = df['Country'].value_counts()
print('Ventas de cada país:\n', country_count)
#Lo que hace value_counts es agarrar cada uno de los VALORES ÚNICOS y sumarlos realizando un conteo de todos estos.

Ventas de cada país:
 Country
United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: count, dtype: int64

Podemos ir más allá y especificar ahora alguna acción que queramos hacer con la grupación de las columnas.

Ahora haremos un agrupamiento por país pero para calcular la suma total que tiene la columna cantidad...

In [23]:
country_group = df.groupby('Country')['Quantity'].sum()
#Queremos agrupar los paises 
#De cada país vamos a extraer la Cantidad de ventas que se esta haciendo en esta tienda, osea que información usará
#De cada país vamos a obtener la suma... es la operación que se aplica
print('Paises con la suma total de ventas\n', country_group)

Paises con la suma total de ventas
 Country
Australia                 83653
Austria                    4827
Bahrain                     260
Belgium                   23152
Brazil                      356
Canada                     2763
Channel Islands            9479
Cyprus                     6317
Czech Republic              592
Denmark                    8188
EIRE                     142637
European Community          497
Finland                   10666
France                   110480
Germany                  117448
Greece                     1556
Hong Kong                  4769
Iceland                    2458
Israel                     4353
Italy                      7999
Japan                     25218
Lebanon                     386
Lithuania                   652
Malta                       944
Netherlands              200128
Norway                    19247
Poland                     3653
Portugal                  16180
RSA                         352
Saudi Arabia                 75
Singapore                  5234
Spain                     26824
Sweden                    35637
Switzerland               30325
USA                        1034
United Arab Emirates        982
United Kingdom          4263829
Unspecified                3300
Name: Quantity, dtype: int64

En general como te has dado cuenta primero le indicamos la columna a trabajar o crear, en este caso estamos trabajando con la columna Country, de ahí le pasamos la información que manejará, en este caso la información será obtenida de Quantity y por último la operación a aplicar.

Haciendo esta agrupación tambien podemos aplicar operaciones estadísticas, es decir para este ejemplo, para cada pais tambien podemos obtener la media, mediana,etc.

In [24]:
country_stats = df.groupby(['Country'])['UnitPrice'].agg(['mean', 'sum'])
print('Stats of each Country:\n', country_stats)

Stats of each Country:
                             mean          sum
Country
Australia               3.220612     4054.750
Austria                 4.243192     1701.520
Bahrain                 4.556316       86.570
Belgium                 3.644335     7540.130
Brazil                  4.456250      142.600
Canada                  6.030331      910.580
Channel Islands         4.932124     3738.550
Cyprus                  6.302363     3920.070
Czech Republic          2.938333       88.150
Denmark                 3.256941     1266.950
EIRE                    5.911077    48447.190
European Community      4.820492      294.050
Finland                 5.448705     3786.850
France                  5.028864    43031.990
Germany                 3.966930    37666.000
Greece                  4.885548      713.290
Hong Kong              42.505208    12241.500
Iceland                 2.644011      481.210
Israel                  3.633131     1079.040
Italy                   4.831121     3879.390
Japan                   2.276145      814.860
Lebanon                 5.387556      242.440
Lithuania               2.841143       99.440
Malta                   5.244173      666.010
Netherlands             2.738317     6492.550
Norway                  6.012026     6529.060
Poland                  4.170880     1422.270
Portugal                8.582976    13037.540
RSA                     4.277586      248.100
Saudi Arabia            2.411000       24.110
Singapore             109.645808    25108.890
Spain                   4.987544    12633.450
Sweden                  3.910887     1806.830
Switzerland             3.403442     6813.690
USA                     2.216426      644.980
United Arab Emirates    3.380735      229.890
United Kingdom          4.532422  2245715.474
Unspecified             2.699574     1204.010

Otra cosa que podemos hacer es agrupaciones digamos múltiples de una columna respecto a otra, por ejemplo puedo agruparlos por país y dentro de cada país además agruparlos por Código de Stock, esto se enviará en formato de lista:

In [25]:
country_stock_group = df.groupby(['Country', 'StockCode'])['Quantity'].sum()
print('Paises agrupados por códigos de stock:\n', country_stock_group)


print('\nOtro ejemplo de agrupación creado con una función, (analiza su sintaxis):\n')
#Ahora obtendremos el revenue total o ganancia por cada país, esto lo realizaremos con una función
def total_revenue(group): #Con group categorizamos
    return (group['Quantity'] * group['UnitPrice']).sum() #Multiplica la cantidad por la unidad de precio que se vendió y sumalas, simplemente.

revenue_per_country = df.groupby('Country').apply(total_revenue) 
#Primero indicamos que lo agrupe por pais (groupby)
#Luego le pasamos la operación a aplicar, en este caso estamos damos uso de una función que creamos.
print('Total de ventas por país ($):\n', revenue_per_country)

Paises agrupados por códigos de stock:
 Country      StockCode
Australia    15036        600
             15056BL        3
             16161P       400
             16169E        25
             20665          6
                         ...
Unspecified  85180A         2
             85180B         1
             85212         12
             85213         12
             85227         10
Name: Quantity, Length: 19839, dtype: int64

Otro ejemplo de agrupación creado con una función, (analiza su sintaxis):

Total de ventas por país ($):
 Country
Australia                137077.270
Austria                   10154.320
Bahrain                     548.400
Belgium                   40910.960
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20086.290
Cyprus                    12946.290
Czech Republic              707.720
Denmark                   18768.140
EIRE                     263276.820
European Community         1291.750
Finland                   22326.740
France                   197403.900
Germany                  221698.210
Greece                     4710.520
Hong Kong                 10117.040
Iceland                    4310.000
Israel                     7907.820
Italy                     16890.510
Japan                     35340.620
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2505.470
Netherlands              284661.540
Norway                    35163.460
Poland                     7213.140
Portugal                  29367.020
RSA                        1002.310
Saudi Arabia                131.170
Singapore                  9120.390
Spain                     54774.580
Sweden                    36595.910
Switzerland               56385.350
USA                        1730.920
United Arab Emirates       1902.280
United Kingdom          8187806.364
Unspecified                4749.790
dtype: float64

/var/folders/kz/rybrs64563zc2gl94rf00qbw0000gn/T/ipykernel_4458/4246130189.py:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  revenue_per_country = df.groupby('Country').apply(total_revenue)

# Filtrado de datos
Es una técnica que nos permite extraer subconjuntos específicos de información basandonos en condiciones lógicas lo cual es fundamental en el análisis de datos, imaginate poder enfocarte solo en las ventas de un país específico, analizar productos que superan o no cierta cantidad de ventas o analizar las transacciones realizadas durante un periodo de tiempo, todo esto nos ayudará a centrarnos en lo que nos interesa, hacerlo más simple y prestar atención en datos específicos de nuestro set de datos y poder hacer así un tratamiento para poder calcular ventas por ciertos paises o series de tiempo que veremos más delante.


- Si por ejemplo queremos filtrar las ventas en un país específico como Reino Unido
- Con el filtrado tambien podemmos preguntar si un valor es mayor o menor que otro

In [26]:
print('Filtrado por país\n')
retail_data_filled_zeros = retail_data.fillna(0)
#Filtrar ventas en el Reino Unido - UK
uk_sales = retail_data_filled_zeros[retail_data_filled_zeros['Country'] == 'United Kingdom']
#Primero va, de donde sacaré toda mi información, en este caso recuerda que creamos una variable en donde rellenamos los datos NO disponibles con ceros
#De esa información voy a trabajar con una columna en específico Y SOLO TOMARÁ ESA INFORMACIÓN CUANDO ES IGUAL A UNITED KINGDOM
print('Ventas que solo se han hecho en UK:\n', uk_sales)

print('\nFiltrado con conidicionales\n')
#Ahora vamos a filtrar las ventas donde la cantidad sea mayor a un número
high_sales = retail_data_filled_zeros[retail_data_filled_zeros['Quantity'] > 10]
print('Ventas mayores a 10 (se nos indican las filas):\n', high_sales)

Filtrado por país

Ventas que solo se han hecho en UK:
        InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541889    581585     22466       FAIRY TALE COTTAGE NIGHT LIGHT        12
541890    581586     22061  LARGE CAKE STAND  HANGING STRAWBERY         8
541891    581586     23275     SET OF 3 HANGING OWLS OLLIE BEAK        24
541892    581586     21217        RED RETROSPOT ROUND CAKE TINS        24
541893    581586     20685                DOORMAT RED RETROSPOT        10

          InvoiceDate  UnitPrice  customerserID         Country
0        12/1/10 8:26       2.55     17850.0  United Kingdom
1        12/1/10 8:26       3.39     17850.0  United Kingdom
2        12/1/10 8:26       2.75     17850.0  United Kingdom
3        12/1/10 8:26       3.39     17850.0  United Kingdom
4        12/1/10 8:26       3.39     17850.0  United Kingdom
...               ...        ...         ...             ...
541889  12/9/11 12:31       1.95     15804.0  United Kingdom
541890  12/9/11 12:49       2.95     13113.0  United Kingdom
541891  12/9/11 12:49       1.25     13113.0  United Kingdom
541892  12/9/11 12:49       8.95     13113.0  United Kingdom
541893  12/9/11 12:49       7.08     13113.0  United Kingdom

[495478 rows x 8 columns]

Filtrado con conidicionales

Ventas mayores a 10 (se nos indican las filas):
        InvoiceNo StockCode                      Description  Quantity  \
9         536367     84879    ASSORTED COLOUR BIRD ORNAMENT        32
26        536370     22728        ALARM CLOCK BAKELIKE PINK        24
27        536370     22727        ALARM CLOCK BAKELIKE RED         24
28        536370     22726       ALARM CLOCK BAKELIKE GREEN        12
29        536370     21724  PANDA AND BUNNIES STICKER SHEET        12
...          ...       ...                              ...       ...
541894    581587     22631         CIRCUS PARADE LUNCH BOX         12
541895    581587     22556   PLASTERS IN TIN CIRCUS PARADE         12
541896    581587     22555        PLASTERS IN TIN STRONGMAN        12
541902    581587     22629              SPACEBOY LUNCH BOX         12
541904    581587     22613      PACK OF 20 SPACEBOY NAPKINS        12

          InvoiceDate  UnitPrice  customerserID         Country
9        12/1/10 8:34       1.69     13047.0  United Kingdom
26       12/1/10 8:45       3.75     12583.0          France
27       12/1/10 8:45       3.75     12583.0          France
28       12/1/10 8:45       3.75     12583.0          France
29       12/1/10 8:45       0.85     12583.0          France
...               ...        ...         ...             ...
541894  12/9/11 12:50       1.95     12680.0          France
541895  12/9/11 12:50       1.65     12680.0          France
541896  12/9/11 12:50       1.65     12680.0          France
541902  12/9/11 12:50       1.95     12680.0          France
541904  12/9/11 12:50       0.85     12680.0          France

[132631 rows x 8 columns]

Ahora vamos a ver como hacer este filtrado en una sola linea de codiga para pdoer evaluar ambas filtraciones... ahora queremos las ventas altas de UK en la columna Cantidad de ventas

In [27]:
uk_high_quantity_sales = retail_data_filled_zeros[(
    retail_data_filled_zeros['Country'] == 'United Kingdom') & 
    (retail_data_filled_zeros['Quantity'] > 40)]
#Vamos a evaluar primero el country, igual a UK Y ADEMÁS QUEREMOS evaluar que la cantidad sea mayor a 40, no debería haber problema con los operadores, quizá con la sintaxis simplemente.
print('Filtrado con condicional (&), presta atención a la sintaxis:\n', uk_high_quantity_sales)

Filtrado con condicional (&), presta atención a la sintaxis:
        InvoiceNo StockCode                          Description  Quantity  \
46        536371     22086      PAPER CHAIN KIT 50'S CHRISTMAS         80
82        536376     22114    HOT WATER BOTTLE TEA AND SYMPATHY        48
83        536376     21733     RED HANGING HEART T-LIGHT HOLDER        64
96        536378     21212      PACK OF 72 RETROSPOT CAKE CASES       120
101       536378    85183B  CHARLIE & LOLA WASTEPAPER BIN FLORA        48
...          ...       ...                                  ...       ...
541746    581571     23167       SMALL CERAMIC TOP STORAGE JAR         96
541747    581571     21314        SMALL GLASS HEART TRINKET POT        48
541751    581572     23328   SET 6 SCHOOL MILK BOTTLES IN CRATE        48
541867    581584     20832     RED FLOCK LOVE HEART PHOTO FRAME        72
541868    581584     85038      6 CHOCOLATE LOVE HEART T-LIGHTS        48

          InvoiceDate  UnitPrice  customerserID         Country
46       12/1/10 9:00       2.55     13748.0  United Kingdom
82       12/1/10 9:32       3.45     15291.0  United Kingdom
83       12/1/10 9:32       2.55     15291.0  United Kingdom
96       12/1/10 9:37       0.42     14688.0  United Kingdom
101      12/1/10 9:37       1.25     14688.0  United Kingdom
...               ...        ...         ...             ...
541746  12/9/11 12:00       0.69     15311.0  United Kingdom
541747  12/9/11 12:00       1.85     15311.0  United Kingdom
541751  12/9/11 12:08       3.39     16705.0  United Kingdom
541867  12/9/11 12:25       0.72     13777.0  United Kingdom
541868  12/9/11 12:25       1.85     13777.0  United Kingdom

[15179 rows x 8 columns]

Vamos a hacer una filtración pero ahora especificando el año en esta serie. Filtración de ventas del año 2011.

El problema es que dentro de retail_data aún no tenemos transformada la columna de InvoiceDate a tipo Date, por ende nos saldrá un eror.

Bueno al parecer si ya lo habíamos hecho, el punto es tener en cuenta eso y especificar el formato el cual tiene los datos la columna en tipo date, esto solo para mejor eficiencia en el código.

Posterior a la filtración por año 2011, haremos una filtración por mes (1-12) y por año.

In [28]:
retail_data['InvoiceDate'] = pd.to_datetime(retail_data['InvoiceDate'], format='%m/%d/%y %H:%M', errors='coerce')

sales_2011 = retail_data[retail_data['InvoiceDate'].dt.year == 2011]
#Quiero extraer de mi dt el año y luego le indico que valor va a extraer, en este caso queremos el año 2011
print('Información de 2011:\n', sales_2011)

print('\nDos filtraciones - Mes y Año:\n')
sales_month_year = retail_data[(
    retail_data['InvoiceDate'].dt.year == 2010) & (retail_data['InvoiceDate'].dt.month == 12)]
print(sales_month_year)

Información de 2011:
        InvoiceNo StockCode                      Description  Quantity  \
42481     539993     22386          JUMBO BAG PINK POLKADOT        10
42482     539993     21499               BLUE POLKADOT WRAP        25
42483     539993     21498              RED RETROSPOT WRAP         25
42484     539993     22379         RECYCLING BAG RETROSPOT          5
42485     539993     20718        RED RETROSPOT SHOPPER BAG        10
...          ...       ...                              ...       ...
541904    581587     22613      PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899     CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254    CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255  CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138    BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  customerserID         Country
42481  2011-01-04 10:00:00       1.95     13313.0  United Kingdom
42482  2011-01-04 10:00:00       0.42     13313.0  United Kingdom
42483  2011-01-04 10:00:00       0.42     13313.0  United Kingdom
42484  2011-01-04 10:00:00       2.10     13313.0  United Kingdom
42485  2011-01-04 10:00:00       1.25     13313.0  United Kingdom
...                    ...        ...         ...             ...
541904 2011-12-09 12:50:00       0.85     12680.0          France
541905 2011-12-09 12:50:00       2.10     12680.0          France
541906 2011-12-09 12:50:00       4.15     12680.0          France
541907 2011-12-09 12:50:00       4.15     12680.0          France
541908 2011-12-09 12:50:00       4.95     12680.0          France

[499428 rows x 8 columns]

Dos filtraciones - Mes y Año:

      InvoiceNo StockCode                          Description  Quantity  \
0        536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1        536365     71053                  WHITE METAL LANTERN         6
2        536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3        536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4        536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...         ...       ...                                  ...       ...
42476    539991     21618       4 WILDFLOWER BOTANICAL CANDLES         1
42477    539991     72741                GRAND CHOCOLATECANDLE         4
42478    539992     21470        FLOWER VINE RAFFIA FOOD COVER         1
42479    539992     22258              FELT FARM ANIMAL RABBIT         1
42480    539992     21155                RED RETROSPOT PEG BAG         1

              InvoiceDate  UnitPrice  customerserID         Country
0     2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1     2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2     2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3     2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4     2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                   ...        ...         ...             ...
42476 2010-12-23 16:49:00       1.25         NaN  United Kingdom
42477 2010-12-23 16:49:00       1.45         NaN  United Kingdom
42478 2010-12-23 17:41:00       3.75         NaN  United Kingdom
42479 2010-12-23 17:41:00       1.25         NaN  United Kingdom
42480 2010-12-23 17:41:00       2.10         NaN  United Kingdom

[42481 rows x 8 columns]

# Pivot Tables
Permite resumir y reorganizar columnas de datos crudos con dataframes de pandas con el podemos realizar operaciones como sumas, promedios,etc. Ello nos ayuda a encontrar patrones e insights que de otro modo podrian estar ocultos en los datos originales.

Estas tablas/dataframes son útiles cuando queremos resumir, reorganizar, identificar patrones o tambien comparar subgrupos de datos.

In [29]:
pivot_table = pd.pivot_table(retail_data, values = 'Quantity', index = 'Country', columns = 'StockCode', aggfunc = 'sum')
# values, queremos que se value la cantidad, Quantity (información con la que se llena la tabla digamos)
# index, cual va a ser nuestro index, los datos únicos que recolectará (eje vertial)
# columns, información que recolectará para nuestro eje vertical. ESTE ES EL ÚNICO QUE PUEDE RECIBIR UNA LISTA DE COLUMNAS A UTILIZAR
# aggfunc, operación a realizar
# NaN no se registraron ventas en ese caso
print('Dataframe creado:\n', pivot_table)

Dataframe creado:
 StockCode             10002  10080  10120  10123C  10123G  10124A  10124G  \
Country
Australia               NaN    NaN    NaN     NaN     NaN     NaN     NaN
Austria                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
Bahrain                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
Belgium                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
Brazil                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Canada                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Channel Islands         NaN    NaN    NaN     NaN     NaN     NaN     NaN
Cyprus                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Czech Republic          NaN    NaN    NaN     NaN     NaN     NaN     NaN
Denmark                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
EIRE                   12.0    NaN    NaN     NaN     NaN     NaN     NaN
European Community      NaN    NaN    NaN     NaN     NaN     NaN     NaN
Finland                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
France                372.0    NaN   10.0     NaN     NaN     NaN     NaN
Germany                 1.0    NaN    NaN     NaN     NaN     NaN     NaN
Greece                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Hong Kong               NaN    NaN    NaN     NaN     NaN     NaN     NaN
Iceland                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
Israel                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Italy                   NaN    NaN    NaN     NaN     NaN     NaN     NaN
Japan                   1.0    NaN    NaN     NaN     NaN     NaN     NaN
Lebanon                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
Lithuania               NaN    NaN    NaN     NaN     NaN     NaN     NaN
Malta                   NaN    NaN    NaN     NaN     NaN     NaN     NaN
Netherlands             NaN    NaN    NaN     NaN     NaN     NaN     NaN
Norway                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Poland                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Portugal                NaN    NaN    NaN     NaN     NaN     NaN     NaN
RSA                     NaN    NaN    NaN     NaN     NaN     NaN     NaN
Saudi Arabia            NaN    NaN    NaN     NaN     NaN     NaN     NaN
Singapore               NaN    NaN    NaN     NaN     NaN     NaN     NaN
Spain                  24.0    NaN    NaN     NaN     NaN     NaN     NaN
Sweden                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Switzerland            12.0    NaN    NaN     NaN     NaN     NaN     NaN
USA                     NaN    NaN    NaN     NaN     NaN     NaN     NaN
United Arab Emirates    NaN    NaN    NaN     NaN     NaN     NaN     NaN
United Kingdom        615.0  495.0  183.0   -13.0   -38.0    16.0    17.0
Unspecified             NaN    NaN    NaN     NaN     NaN     NaN     NaN

StockCode             10125   10133  10134  ...       M  PADS    POST     S  \
Country                                     ...
Australia               NaN     NaN    NaN  ...     NaN   NaN     0.0   NaN
Austria                 NaN     NaN    NaN  ...     NaN   NaN    37.0   NaN
Bahrain                 NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Belgium                 NaN     NaN    NaN  ...     NaN   NaN   272.0   NaN
Brazil                  NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Canada                  NaN    40.0    NaN  ...     NaN   NaN     1.0   NaN
Channel Islands         NaN     NaN    NaN  ...     0.0   NaN     NaN   NaN
Cyprus                  NaN     NaN    NaN  ...     0.0   NaN     1.0   NaN
Czech Republic          NaN     NaN    NaN  ...     NaN   NaN     0.0   NaN
Denmark                 NaN     NaN    NaN  ...     NaN   NaN    41.0   NaN
EIRE                    NaN    40.0    NaN  ...    -2.0   NaN     NaN   NaN
European Community      NaN     NaN    NaN  ...     NaN   NaN     9.0   NaN
Finland                 NaN     NaN    NaN  ...     2.0   NaN    89.0   NaN
France                470.0     NaN    NaN  ...   -16.0   NaN   803.0   NaN
Germany               120.0     NaN    NaN  ...     2.0   NaN  1104.0   NaN
Greece                  NaN     NaN    NaN  ...     NaN   NaN     6.0   NaN
Hong Kong               NaN     NaN    NaN  ...     0.0   NaN     2.0   NaN
Iceland                 NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Israel                  NaN    20.0    NaN  ...     NaN   NaN     NaN   NaN
Italy                   NaN     NaN    NaN  ...    -1.0   NaN    44.0   NaN
Japan                   NaN     NaN    NaN  ...    -3.0   NaN     NaN   NaN
Lebanon                 NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Lithuania               NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Malta                   NaN     NaN    NaN  ...     NaN   NaN    10.0   NaN
Netherlands             NaN     NaN    NaN  ...  -480.0   NaN    99.0   NaN
Norway                  NaN     NaN    NaN  ...     0.0   NaN    57.0   NaN
Poland                  NaN     NaN    NaN  ...     NaN   NaN     9.0   NaN
Portugal                NaN    20.0    NaN  ...     1.0   NaN    97.0   NaN
RSA                     NaN     NaN    NaN  ...     1.0   NaN     NaN   NaN
Saudi Arabia            NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Singapore               NaN     NaN    NaN  ...     0.0   NaN     NaN   NaN
Spain                   NaN     NaN    NaN  ...    -3.0   NaN   209.0   NaN
Sweden                  NaN     NaN    NaN  ...     1.0   NaN    37.0   NaN
Switzerland            20.0    10.0    NaN  ...     NaN   NaN    97.0   NaN
USA                     NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
United Arab Emirates    NaN     NaN    NaN  ...     NaN   NaN     1.0   NaN
United Kingdom        686.0  2645.0  -19.0  ...  3662.0   4.0  3328.0 -59.0
Unspecified             NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN

StockCode             gift_0001_10  gift_0001_20  gift_0001_30  gift_0001_40  \
Country
Australia                      NaN           NaN           NaN           NaN
Austria                        NaN           NaN           NaN           NaN
Bahrain                        NaN           NaN           NaN           NaN
Belgium                        NaN           NaN           NaN           NaN
Brazil                         NaN           NaN           NaN           NaN
Canada                         NaN           NaN           NaN           NaN
Channel Islands                NaN           NaN           NaN           NaN
Cyprus                         NaN           NaN           NaN           NaN
Czech Republic                 NaN           NaN           NaN           NaN
Denmark                        NaN           NaN           NaN           NaN
EIRE                           NaN           NaN           NaN           NaN
European Community             NaN           NaN           NaN           NaN
Finland                        NaN           NaN           NaN           NaN
France                         NaN           NaN           NaN           NaN
Germany                        NaN           NaN           NaN           NaN
Greece                         NaN           NaN           NaN           NaN
Hong Kong                      NaN           NaN           NaN           NaN
Iceland                        NaN           NaN           NaN           NaN
Israel                         NaN           NaN           NaN           NaN
Italy                          NaN           NaN           NaN           NaN
Japan                          NaN           NaN           NaN           NaN
Lebanon                        NaN           NaN           NaN           NaN
Lithuania                      NaN           NaN           NaN           NaN
Malta                          NaN           NaN           NaN           NaN
Netherlands                    NaN           NaN           NaN           NaN
Norway                         NaN           NaN           NaN           NaN
Poland                         NaN           NaN           NaN           NaN
Portugal                       NaN           NaN           NaN           NaN
RSA                            NaN           NaN           NaN           NaN
Saudi Arabia                   NaN           NaN           NaN           NaN
Singapore                      NaN           NaN           NaN           NaN
Spain                          NaN           NaN           NaN           NaN
Sweden                         NaN           NaN           NaN           NaN
Switzerland                    NaN           NaN           NaN           NaN
USA                            NaN           NaN           NaN           NaN
United Arab Emirates           NaN           NaN           NaN           NaN
United Kingdom                39.0          20.0          37.0           3.0
Unspecified                    NaN           NaN           NaN           NaN

StockCode             gift_0001_50    m
Country
Australia                      NaN  NaN
Austria                        NaN  NaN
Bahrain                        NaN  NaN
Belgium                        NaN  NaN
Brazil                         NaN  NaN
Canada                         NaN  NaN
Channel Islands                NaN  NaN
Cyprus                         NaN  NaN
Czech Republic                 NaN  NaN
Denmark                        NaN  NaN
EIRE                           NaN  NaN
European Community             NaN  NaN
Finland                        NaN  NaN
France                         NaN  NaN
Germany                        NaN  NaN
Greece                         NaN  NaN
Hong Kong                      NaN  NaN
Iceland                        NaN  NaN
Israel                         NaN  NaN
Italy                          NaN  NaN
Japan                          NaN  NaN
Lebanon                        NaN  NaN
Lithuania                      NaN  NaN
Malta                          NaN  NaN
Netherlands                    NaN  NaN
Norway                         NaN  NaN
Poland                         NaN  NaN
Portugal                       NaN  NaN
RSA                            NaN  NaN
Saudi Arabia                   NaN  NaN
Singapore                      NaN  NaN
Spain                          NaN  NaN
Sweden                         NaN  NaN
Switzerland                    NaN  NaN
USA                            NaN  NaN
United Arab Emirates           NaN  NaN
United Kingdom                 4.0  1.0
Unspecified                    NaN  NaN

[38 rows x 4070 columns]

# Desapilar y apilar información con stack()
Retomemos a un dataframe que habiamos creado y bueno, el uso que le veo es para presentación y visualización de información por el momento, quizá tengo otros pero debemos de tenerlo presente al igual que todas las herramientas para un buen uso de Pandas... lo que hace es cambiar el orden en el que se presentan los datos en el dataframe:

In [30]:
df = pd.DataFrame({
    'A' : ['a', 1, 2],
    'B' : ['b', 3, 4],
    'C' : ['c', 5, 6]
})
print('DataFrame normal:\n', df)

df_stack = df.stack()
print('\nDataFrame desapilado:\n', df_stack)

df_unstacked = df_stack.unstack()
print('\nDataFrame de nuevo apilado con Unstacked:\n', df_unstacked)

DataFrame normal:
    A  B  C
0  a  b  c
1  1  3  5
2  2  4  6

DataFrame desapilado:
 0  A    a
   B    b
   C    c
1  A    1
   B    3
   C    5
2  A    2
   B    4
   C    6
dtype: object

DataFrame de nuevo apilado con Unstacked:
    A  B  C
0  a  b  c
1  1  3  5
2  2  4  6

# Combinación de datos con múltiples tablas.
Pandas nos ofrece algunos métodos para realizar esta fusión de dataframes y son los siguientes.
- Merge
- Concat
- Join 
La combinación de múltiples tablas permite integrar información de diversas fuentes para tener al final un análisis mas integral.

Usaremos para este caso con ejemplo un df mas pequeño.

# Merge
Para el caso de merge...
- UNIÓN INTERNA
Recibe como argumentos los df con los que hará la fusión o comparará valores, posterior a ello va EN BASE A QUE quieres realizar el merge, en este caso en base a las key, despues va COMO lo quieres hacer, en este caso con inner, osea con datos que estan ahí adentro.

Estas funciones recuerdan un poco a las que tenemos en SQL.

Al correrlo nos dará empty, vacio debido a que no tenemos llaves iguales en ambas tablas, si bien podemos crear una añadiendo G en AMBAS con su respectivo valor, este se nos mostrará.

- UNIÓN EXTERNA 
Me devuelve todos los valores base al ejecutarlo (de ambos df), en este caso me da la fusión de las tablas indicando si hay una relación de mis keys con sus valores. Observa el código al ejecutarlo. En este caso muestra que no hay valores relacionados con nuestros datos a excepción con la KEY G que agregamos.

- Right merge, simplemente cambia en el parámetro how la palabra right
Aquí tomamos en cuenta todas las filas del segundo df y solo las coincidentes con la derecha son las que se mostrarán, mostrará coincidencias con respecto a la tabla derecha, segundo argumento.

- Lef merge, simplemente cambia en el parámetro how la palabra left
Mostrará coincidencias respecto a la tabla izquierda, primer argumento.

In [31]:
df1 = pd.DataFrame({
    'key' : ['A', 'B', 'C', 'G'],
    'value' : [1,2,3,7]
})

df2 = pd.DataFrame({
    'key' : ['D', 'E', 'F', 'G'],
    'value2' : [4,5,6,8]
})

print('Inner Merge')
inner_merge = pd.merge(df1, df2, on = 'key', how = 'inner')
print(inner_merge)

print('\nOuter Merge')
outer_merge = pd.merge(df1, df2, on='key', how = 'outer')
print(outer_merge)

Inner Merge
  key  value  value2
0   G      7       8

Outer Merge
  key  value  value2
0   A    1.0     NaN
1   B    2.0     NaN
2   C    3.0     NaN
3   D    NaN     4.0
4   E    NaN     5.0
5   F    NaN     6.0
6   G    7.0     8.0

# Concatenación de df
Podemos hacerlo de manera vertical y de manera horizontal, toma en cuenta que estmaos usando ejemplos pequeños para ver de manera visual como funciona este concepto.

Observarás que la información simplemente se une de una tabla con otra, si hay coincidencias las toma por separado, no las fusiona, simplemente es una tabla unida.

In [ ]:
df3 = pd.DataFrame({
    'A' : ['AO', 'A1', 'A2'],
    'B' : ['B0', 'B1', 'B2']
})

df4 = pd.DataFrame({
    'A' : ['A3', 'A4', 'A5'],
    'B' : ['B3', 'B4', 'B5']
})

print('DF3:\n', df3)
print('\nDF4:\n', df4)

vertical_concat = pd.concat([df3,df4])
print('Concatenación vertical:n', vertical_concat)

horizontal_concat = pd.concat([df3, df4], axis=1) #Si no le damos el axis esta tomando por defecto el 0, si queremos que sea horizontal tenemos que especificar que el eje es igual 1
print('Concatenación Horizontal:\n', horizontal_concat)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 4-5: malformed \N character escape (1298438877.py, line 11)

# Joined, índices más manuales.
Como bien mencionabamos, concat simplemente une las tablas, no hay fusión de datos.
Joined combina dataframes con base a un índice o columna clave.

Lo que hará es tomar los indices y luego las columans las apila una a otra pero con los indices  que tiene coindicencias.

La principal diferencia entre merge y join, es que en join estamos usando los índices como vimos, tenemos dos dataframes que comparten información y lo que hace es apilar las coincidencias con los índices que se estan especificando.

In [31]:
# Ejercicios con join()
df5 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
}, index = ['K0', 'K1', 'K2']) 

df6 = pd.DataFrame({
    'C': ['C0', 'C1', 'C2'],
    'D': ['DO', 'D1', 'D2']
}, index = ['K0', 'K1', 'K2'])

print('DF5:\n', df5)
print('\nDF6:\n', df6)

joined = df5.join(df6, how='inner')
print('\nCon join:\n', joined)

DF5:
      A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

DF6:
      C   D
K0  C0  DO
K1  C1  D1
K2  C2  D2

Con join:
      A   B   C   D
K0  A0  B0  C0  DO
K1  A1  B1  C1  D1
K2  A2  B2  C2  D2

# Manejo de Series Temporales en Pandas
Para hacer esto es importante revisar que las columnas que las columnas que estan en fechas y en horas esten en su formato adecuado. Pnadas maneja este tipo de columnas con el tipo de dato DATETIME tal que les permite realzar tareas complejas como sampling, filtrado y análisis de tendencias con mayor eficiencia y precisión.

# Ritual a seguir para preparar nuestro DataFrame de análisis.
Cuando los datos provienen de archivos csv u otras fuentes es común que las fechas vengan en un formato str, para poder realizar una anlisis temporal efectivo es necsario pasarlo al tipo de dato datetime permitiendonos usar más herrameintas además.

Recuerda que para revisar esto usamos el método de pandas info()
df.info()
Para la conversión hacemos lo sigueinte:

Recuerda que no estamos creando un nuevo df, estamos convirtiendo nuestro df, en específico una columna.

Después vamos a eliminar los valores NO disponibles, le pasamos un sobconjunto de nuestro conjunto que será la información de una columna como primer parámetro.
El segundo parámetro inplace significa que queremos hacer una modificación sobre el dataframe que estmaos trabajando Y NO UNA COPIA COMO TAL.

Después vamos a establecer como índice la fecha con su respectiva hora, esto lo hacemos de la siguiente manera:
df.set_index('InvoiceDate')

In [33]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate']) #Como vamos a remplazar toda la columna le vamos a pasar el dataframe con el nombre de la columna
df.info()

print('\nEliminamos valores NO disponibles o nulos...')
df.dropna(subset=['InvoiceDate'], inplace=True) #Le estamos diciendo que de un subconjunto en específico, la información contenida dentro de una columna es un subset.

#Establecemos nuestro índice. INPLACE LO PODEMOS ESPECIFICAR TAMBIEN AQUÍ. De hecho nos será útil más adelante.

print('\nEstableciendo índice...')
df.set_index('InvoiceDate', inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   InvoiceNo      541909 non-null  object
 1   StockCode      541909 non-null  object
 2   Description    540455 non-null  object
 3   Quantity       541909 non-null  int64
 4   InvoiceDate    541909 non-null  datetime64[ns]
 5   UnitPrice      541909 non-null  float64
 6   customerserID     406829 non-null  float64
 7   Country        541909 non-null  object
 8   TotalPrice     541909 non-null  float64
 9   HighValue      541909 non-null  bool
 10  DiscountPrice  541909 non-null  float64
 11  PriceCategory  541909 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(4), int64(1), object(5)
memory usage: 46.0+ MB

Eliminamos valores NO disponibles o nulos...

# Práticas de SQL - Normalización (información atómica)
Observa la información que tenemos en InvoiceDate...
Año - Mes - Día - Hora - Minutos - Segundos
Tambien podemos dividir o fraccionar cada una de estas secciones para crear nuevas columnas, esto recuerda un poco a las normalizaciones que se deben de hacer para el registro de datos en SQL, la información debe ser atómica.

Pero debemos de tener cuidado pues al usar inplace recuerda que esta modificación la esta realizando con nuestro dataframe original.

In [ ]:
#CREAMOS UNA NUEVA COLUMNA "Year"
df['Year'] = df.index.year
df['Month'] = df.index.month
df['Day'] = df.index.day
#Día de la semana QUE SE REFIERE A NÚMEROS DEL 1 AL 7
df['Weekday'] = df.index.weekday
df['Hour'] = df.index.hour

print(df['Year'])

Puede que nos de un error que indica que el RangeIndex no tiene el atributo year, ES POR ELLO QUE DEBEMOS DE REALIZAR LA MODIFICACIÓN DENTRO DE LA SECCIÓN DONDE ESTABLECIMOS NUESTRO NUEVO INDICE CON INPLACE.
Haciendo eso ya puedo establecer esa nueva columna y empezar a hacerlo con las demás secciones, extrayendo cada uno de esos atributos y ponerlos en una nueva columna.

# Imprimir nuestras modificaciones dentro del DataFrame para verificar que todo esta correcto.
df
Simplemente lo llamo y ejecuto.

# Eliminar columnas creadas ante algún error.
Si simplemente corrigo la linea de código en donde cree esa columna TENDRÍA DOS COLUMNAS, la del error y la corregida, es por ello que se deben de eliminar si o si ante algún error, recuerda que estamos modificando nuestra información original.

Analiza la sintaxis, no es compleja.
df = df.drop(columns = ['NameofColumn'])

Con ello queda eliminada esa columna.

# Añadir columna - Especifica despues de que columan se añadirá
Si simplemente agregamos la columan corregida con la sintaxis vista...
df['Year'] = df.index.year
Este lo añadirá hasta el final si no se especifica claro, hay que tener cuidado en eso dentro de la presentación de nuestro datos.

In [ ]:
df

# LOC
Cuando en el índice estamos manejando el tipo de dato DateTime tenemos un recurso que podemos usar a nuestro favor y es que cuando utilizamos el metodo LOC podemos acceder directamente al año o mes que queremos extraer como información.

Lo estaremos haciendo con base al indice pero tambien podemos extraer información no necesariamente con respecto al índice, si no que a una columna en específico.

Entonces tendremos dos maneras de tratar el mismo dataframe.

Tambien con LOC podemos extraer po ejemplo un rango de fechas que le especifiquemos

In [ ]:
df_2011 = df.loc['2011'] #No le estoy diciendo el nombre de columna, ni que lo agrupe, simplemente que extraiga esa información
df_2011.head()

#Podemos seguir añadiendo información para extraer.
df_2011_dic = df.loc['2011-12'] #Por el formato que estamos manejando
df_2011_dic.head()

print('\nExtrayendo un rango de fechas con LOC...\n')

df_date_range = df.loc['2010-12-02' : '2010-12-15']
df_date_range.head()

Ahora vamos a crear rangos de fechas en donde vamos a utilizar en información nueva.

In [ ]:
date_range_new = pd.date_range(start='2024-01-01', end='2024-12-31', freq='D') #Parametros: inicio, final y LE PODEMOS INDICAR LA FRECUENCIA

date_range_new
#Obtenemos una Serie de Pandas QUE PODEMOS AGREGAR A UNA COLUMNA NUEVA

df_dates = pd.DataFrame(date_range_new, columns=['Date'])
#De donde obtendrá la información 
#En donde establecerá la información, en este caso creará una columna ['Column'] nueva

# Ya tenemos los datos como queremos para poder realizar nuestros análisis, ya solo queda presentar nuestra información.